<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.guodong">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity"
                  android:label="GuoDong">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.SearchActivity" >

        </activity>

        <activity android:name=".activity.Order_no" ></activity>
        <activity android:name=".activity.Order_finish" ></activity>
        <activity android:name=".activity.Order_cancel" ></activity>
        <activity android:name=".activity.GymListActivity" ></activity>
        <activity android:name=".activity.SportVenueDetailActivity" ></activity>

    </application>

</manifest>